<h1>Please fill out the form below to create a new character</h1>

<form action='/characters' method='POST'>
	<label for='name'>Name</label>
	Character Name: <input type='text' name='movie[character][name]'><br>
	<label for='actor_name'>Actor Name</label>
	Actor Name: <input type='text' name='movie[character][actor_name]'><br>
  <label for='movie'>Associated Movie</label>
  <select name="movie[character][movie_id]">
    <% Movie.all.each do |movie| %>
      <option value="<%=movie.id%>"> <%=movie.title%> </option>
    <% end %>
  </select>
	<input type="Submit" value="Create Character"><br>
</form>
