<h1>Update the fields below to edit this character</h1>

<form action="/actors/<%=@actor.id%>" method="POST">
	<input type="hidden" name="_method" value="PATCH">
		<label for='name'>Name</label>
		Actor Name: <input type='text' name='actor[name]'  value="<%= @actor.name %>"><br>
		<label for='age'>Age</label>
		Actor Age: <input type='number' name='actor[age]' value="<%= @actor.age %>"><br>
		<label for='net_worth'>Net Worth</label>
		Actor Net Worth: <input type='number' name='actor[net_worth]' value="<%= @actor.net_worth %>"><br>
    <!-- <label for='movie_id'>Movie</label>
    Movie: <input type='text' name='movie' value= ><br> -->
    <input type="Submit" value="Submit"><br>

</form>
