<h1> Please browse these movies please </h1>
<ul> 
	<% @movies.each do |movie| %>
		<li><a href= <%="/movies/#{movie.id}"%>><%= movie.title%></a></li>
		<%end%>
</ul>

<a href="/movies/new">Click here to add a new movie</a>
<br>
<a href="/actors">Click here to see a list of our actors</a>