<h1>Please fill out the form below to create a new movie</h1>

<form action='/movies' method='POST'>
	<div class="Movie Details">
	<label for='title'>Title</label>
	Movie Title: <input type='text' name='movie[title]'><br>
	<label for='description'>Description</label>
	Movie Description: <input type='text' name='movie[description]'><br>
	<label for='genre'>Genre</label>
	Movie Genre: <input type='text' name='movie[genre]'><br>
	<label for='release_date'>Release Date</label>
	Movie Release Date: <input type='text' name='movie[release_date]'><br>
	<label for='run_time'>Run Time</label>
	Movie Length (In minutes): <input type='number' name='movie[run_time]'><br>
	</div>

	<h2>Choose from a list of existing actors for this Movie:</h2>	

		<% Actor.all.each do |actor| %>
			<li><input type="checkbox" name=actors[] value="<%=actor.id%>"><%=actor.name%>
			<%end%></li>


	<h2>Or, create a new actor for this Movie:</h2>
		<form action='/actors' method='POST'>
			<label for='name'>Name</label>
			Actor Name: <input type='text' name='actor[name]'><br>
			<label for='age'>Actor Age</label>
			Actor Age: <input type='number' name='actor[age]'><br>
			  <label for='net_worth'>Actor Net Worth</label>
			  Actor Net Worth: <input type='number' name='actor[net_worth]'>
			  <br>
			  <br>
	<input type="Submit" value="Create Movie"><br>
</form>

<a href="/movies">Click here to return to the home page</a>

